
/* carousel in home page starts here */
.carousel {
  height: 60vh;
  width: 95%;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  margin: auto auto;
}

/* sliding container */
.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.carousel-track img {
  width: 100%;
  height: 100%;
  object-fit:fill;
  flex-shrink: 0;
}

/* navigation buttons */
.nav-btn {
    height: 5vh;
    width: 5vh;
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 22px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* carousel in home page ends here */

/* upload section starts here */
.upload-section{
  width: 95%;
  height: 60vh;
  border: 2px dotted black;
  display: flex;
  gap: 10vw;
  background: radial-gradient(
  circle,
  #608E99 0%,
  #6EA4B1 28%,
  #9FEDFF 59%,
  #7DB9C8 77%
);
  margin: 5vh auto;

}

.Current-upload{
  height: 80%;
  width: 50%;
  border: 2px dotted rgb(231, 0, 0);
  margin: auto 4vw;

}

.PS{
  width: 25vw;
  height: 35%;
  border: 2px dotted black;
  margin: 6vh 5vw;

}
/* upload section ends here */

/* Post section starts here */

.Post{
  width: 95%;
  height: 50%;
  background: linear-gradient(
  90deg,
  #A3D6FF 0%,
  #486378 13%,
  #A3D6FF 50%,
  #486378 86%,
  #A3D6FF 100%);
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blogs-container{
  width: 25vw;
  height: 30vh;
  background-color: white;
  margin: 5vh auto;
  flex-direction: column;
}

/* Post section ends here */